.jumbotron{
    background-color: yellow;
    color: white;
    margin: 50px;
}

footer{
    padding: 10px 10px 0px 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    margin-top: 1 200px;
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;

}

.footer-address-icon{
    padding: 10px;
}

.tab-content{
    padding-top: 10px;
}

