$yellow: #6264df;

@mixin margenes($top,$bottom)
{
    margin-top:$top;
    margin-botton: $bottom;
}

.jumbotron{
    background-color: $yellow;
    color: white;
    @include margenes(50px,0px)
}

footer{
    padding: 10px 10px 0px 10px;
    background-color: $yellow;
    @include margenes(10px, 0px)
}

.card-hotel{
    
    flex: 1 150px;
    @include margenes(10px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;

}

.footer-address-icon{
    padding: 10px;
}

.tab-content{
    padding-top: 10px;
}
