.jumbotron {
  background-color: #6264df;
  color: white;
  margin-top: 50px;
  margin-botton: 0px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #6264df;
  margin-top: 10px;
  margin-botton: 0px; }

.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  margin-botton: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding: 10px; }

.tab-content {
  padding-top: 10px; }
